@model IEnumerable<WebCinema.Models.Cinema.News>

@foreach (var item in Model)
{
    <div class="wthree-news-top-left">
        <div class="col-md-12 w3-agileits-news-left">
            <div class="col-sm-5 wthree-news-img">
                <a href="news-single.html"><img src="~/images/m1.jpg" alt="" /></a>
            </div>

            <div class="col-sm-7 wthree-news-info">
                <h5><a href="@Url.Action("Read","News", new { id = item.NewsId})">@item.Title</a></h5>
                @{
                    string[] strCut = item.Content.Split('.');
                }
                <p>@strCut[0] .</p>
                <ul>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>@item.CreatedDate</li>
                    <li><i class="fa fa-eye" aria-hidden="true"></i>2642 lượt View</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
                    }
