
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutUserCinema.cshtml";
}

<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Cinema")">Trang Chủ</a></li>
                <li class="active">Tin Tức</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">Tin Mới</a></li>
                            <li role="presentation"><a href="#w3bsd" role="tab" id="w3bsd-tab" data-toggle="tab" aria-controls="w3bsd">Tin Giải Trí</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
                                @Html.Action("_PartialShowNews","News")
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="w3bsd" aria-labelledby="w3bsd-tab">
                                @Html.Action("_PartialMovieNews", "News")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Action("_PartialTopNews", "News")

            <div class="clearfix"> </div>
        </div>
    </div>
</div>