WebCinema/WebCinema/bin/WebCinema.dll
WebCinema/WebCinema/bin/WebCinema.dll.config
WebCinema/WebCinema/bin/WebCinema.pdb
WebCinema/WebCinema/obj/Debug/WebCinema.dll
.vs/WebCinema/v14/.suo
Web-App-Project\WebCinema\.vs\WebCinema\v14\.suo
