
@{
    ViewBag.Title = "Đặt vé thành công";
    Layout = "~/Views/Shared/_LayoutUserCinema.cshtml";
}
<br />
<br />
<h2 style="text-align:center">@ViewBag.Notification</h2>
<br />
<br />

