@model IEnumerable<WebCinema.Models.Cinema.Movie>

@foreach (var item in Model)
{
    <div class="item">
        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
            <a href="@Url.Action("Details","Movie",new { Id = item.MovieId })" class="hvr-shutter-out-horizontal">
                <img src="~/images/Movies/@item.Poster" title="album-name" class="img-responsive" alt=" " style="width:182px; height:268px;" />
                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
                <div class="w3l-movie-text">
                    <h6><a href="@Url.Action("Details","Movie",new { Id = item.MovieId })">@item.Name</a></h6>
                </div>
            </div>
            <div class="ribben">
                <p>Mới</p>
            </div>
        </div>
    </div>
}
