@model WebCinema.Models.Cinema.UserAccount

<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Đăng Ký và Đăng Nhập
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_login_module">
                        <div class="module form-module">
                            <div class="toggle">
                                <i class="fa fa-times fa-pencil"></i>
                                <div class="tooltip">Đăng Ký</div>
                            </div>
                            <div class="form">
                                <h3>Đăng nhập vào tài khoản của bạn</h3>
                                @using (Html.BeginForm("_PartialLogin", "Cinema", FormMethod.Post))
                                {
                                    <input type="text" name="Username" placeholder="Tên Đăng Nhập" required="">
                                    <input type="password" name="Password" placeholder="Mật Khẩu" required="">
                                    <input type="submit" value="Đăng Nhập">
                                }
                            </div>
                            <div class="form">
                                <h3>Tạo tài khoản</h3>
                                @using (Html.BeginForm("_PartialRegister", "Cinema", FormMethod.Post))
                                {
                                    <input type="text" name="Username" placeholder="Tên Đăng Nhập" required="">
                                    <input type="password" name="Password" placeholder="Mật Khẩu" required="">
                                    <input type="email" name="Email" placeholder="Địa Chỉ Email" required="">
                                    <input type="text" name="Phone" placeholder="Số Điện Thoại" required="">
                                    <input type="submit" value="Đăng Ký">
                                }
                            </div>
                            <div class="cta"><a href="#">Quên mật khẩu? Kệ bạn chứ.</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('fa-pencil');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });
</script>
